h1 Posts#edit
p Find me in app/views/posts/edit.html.slim

= render partial: 'form', locals: { post: @post }

.nav.justify-content-end 
    = link_to '削除' ,@post, method: :delete ,data: {confirm: "realy?"},class: 'btn btn-danger ml-3'
